body, #main-layout {
	background: #eaeaea;
}

#form-add-city .md-errors-spacer,
#form-search-city .md-errors-spacer {
	display: none;
}

#form-add-city button,
#form-search-city button {
	height: 35px;
	margin-top: 15px;
}

#col-weathers md-list {
	min-width: 651px;
}

#col-weathers md-avatar {
	width: 70px;
	height: 70px;
}