<div ng-controller="weatherController as ctrl" ng-cloak layout="row">
	<div flex-gt-xs="25"></div>
	<div flex-xs>
		<md-content id="main-layout" class="md-padding" layout-xs="column" layout="row">
			<div id="col-cities" flex-xs flex-gt-xs="30" layout="column">
				<md-card>
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">Cities</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
						<div id="form-add-city" layout-gt-sm="row">
							<md-input-container class="md-block" flex-gt-sm>
								<label>New City</label>
								<input ng-model="newCity">
							</md-input-container>
							<md-button class="md-primary md-raised" ng-click="ctrl.addCity(newCity)">Add</md-button>
						</div>
						<md-list>
							<md-list-item ng-repeat="city in ctrl.cities">
								<p> {{ city.name }} </p>
								<md-icon class="md-secondary" ng-click="ctrl.deleteCity($index)">delete</md-icon>
							</md-list-item>
						</md-list>
					</md-card-content>
				</md-card>
			</div>
			<div id="col-weathers" flex-xs flex-gt-xs="70" layout="column">
				<md-card>
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">Weathers</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
						<div id="form-search-city" layout-gt-sm="row">
							<md-input-container class="md-block" flex-gt-sm>
								<label>Search Weathers by City</label>
								<input ng-model="searchCity">
							</md-input-container>
							<md-button class="md-primary md-raised" ng-click="ctrl.getCityWeathers(searchCity)">Search</md-button>
						</div>
						<md-list>
							<div ng-repeat="(key, value) in ctrl.cityWeathers | groupBy: 'displayName'">
								<md-subheader class="md-no-sticky">{{ key }}</md-subheader>
								<md-list-item class="md-2-line" ng-repeat="cityWeather in value">
									<img ng-src="http://openweathermap.org/img/w/{{cityWeather.weather[0].icon}}.png" class="md-avatar"/>
									<div class="md-list-item-text" layout="column" flex="30">
										<h3>{{ cityWeather.displayName }}</h3>
										<h4>{{ ctrl.getReadableTime(cityWeather.dt) }}</h4>
									</div>
									<div class="md-list-item-text" layout="column" flex="70">
										<h3>{{ ctrl.getCelsiusTemperature(cityWeather.main.temp) + ' °C ' + cityWeather.weather[0].main }}</h3>
										<h4>{{ cityWeather.wind.speed + ' m/s. ' + cityWeather.main.humidity + '%, ' + cityWeather.main.pressure + ' hPa' }}</h4>
									</div>
									<md-icon class="md-secondary" ng-click="ctrl.deleteCityWeather($parent.$index)">delete</md-icon>
								</md-list-item>
								<md-divider></md-divider>
							</div>
							<md-list-item class="md-3-line" ng-if="ctrl.cityWeathers === undefined">
								<p>Loading List</p>
							</md-list-item>
							<md-list-item class="md-3-line" ng-if="ctrl.cityWeathers !== undefined && ctrl.cityWeathers < 1">
								<p>Empty List</p>
							</md-list-item>
						</md-list>
					</md-card-content>
				</md-card>
			</div>
		</md-content>
	</div>
	<div flex-gt-xs="25"></div>
</div>